* {
	padding: 0;
	margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
}

.home {
	width: 100%;
	height: 100%;
	background: #fff;
}

.common-banner-pic{
  width: 375px;
  height: 211px;
  position: absolute;
  top: 0;
  left: 0;

  a {
    width: 100%;
    height: 100%;
    display: block;

    .goods-img {
      width: 100%;
      height: 211px;

    }
  }
}

.common-banner-bar {
  overflow: hidden;
  width: 375px;
  height: 211px;
	position: relative;
	left: 0;
	top: 0;

  .common-banner-wrapper {
    width: 375px;
    height: 211px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    .common-banner-area {
      width: 375px;
      height: 211px;
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .common-banner-indexs {
    font-size: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translate3d(-50%, 0, 0);
    overflow: hidden;

    i {
      display: inline-block;
      width: 20px;
      height: 2px;
      background: rgba(255, 255, 255, 0.3);
      background-clip: padding-box;
    }

    i:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    i:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    i.active {
    	background: #fff;
      opacity: 1;
      border-radius: 2px;
    }
  }
}

.home-bottom-nav {
  width: 100%;
  height: 49px;
  background: rgba(250, 250, 250, 0.96);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;

  &:before {
    .borderRow(1, 0.5, top, #b2b2b2);
  }

  .home-bottom-list {
    flex: 1;
    text-align: center;
    display: block;
    padding-top: 6px;
    font-size: 12px;
    color: #7f7f7f;

    .home-bottom-icon {
      width: 22px;
      height: 22px;
      display: block;
      margin: 0 auto 2px;
      background: url(@newspriteUrl) no-repeat;
      background-size: 1000px 1000px;
    }

    &.on {
      color: #108ee9;

      .home-bottom-icon {
        animation: 0.5s linear 0.7s zoom;
      }
    }

    &.index {
      .home-bottom-icon {
        background-position: 0 -610px;
      }

      &.on {
        .home-bottom-icon {
          background-position: -125px -610px;
        }
      }
    }

    &.topic {
      .home-bottom-icon {
        background-position: -60px -610px;
      }

      &.on {
        .home-bottom-icon {
          background-position: -185px -610px;
        }
      }
    }

    &.category {
      .home-bottom-icon {
        background-position: -30px -610px;
      }

      &.on {
        .home-bottom-icon {
          background-position: -155px -610px;
        }
      }
    }

    &.mine {
      .home-bottom-icon {
        background-position: -90px -610px;
      }

      &.on {
        .home-bottom-icon {
          background-position: -215px -610px;
        }
      }
    }
  }
}

.home-bar,
.home-area {
  width: 100%;
  height: 200px;
  background: yellow;
}